<% layout("/layout/boilerplate") %>

<section class="achievements-section" id="achievements">
    <a href="/achievement" >
        <div class="achievements-container">
            <div class="achievements-content">
                <h2>Our Achievements</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, molestias assumenda? Provident, earum in fugiat molestiae unde ipsa. Delectus non magnam quam dolor quisquam accusamus possimus nesciunt ipsam! Vel, suscipit?</p>
                <ul style="color: #FF7800; list-style-position: inside; margin-bottom: 1rem;">
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                </ul>
                <p>meow</p>
            </div>
            <div class="achievements-image">
                <img src="" alt="ASTECH Achievements">
            </div>
        </div>
    </a>
</section>

<section class="section-common" id="resources">
    <a href="/resources">
        <div class="container-right-left">
            <div class="section-content">
                <h2>Resources</h2>
                <p>meow</p>
                <ul style="color: #FF7800; list-style-position: inside; margin-bottom: 1rem;">
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                </ul>
            </div>
            <div class="section-image">
                <img src="" alt="Resources">
            </div>
        </div>
    </a>
</section>

<section class="section-common" id="get-involved">
    <a href="/involved">
        <div class="container-left-right">
            <div class="section-content">
                <h2>Get Involved</h2>
                <p>meow</p>
                <ul style="color: #FF7800; list-style-position: inside; margin-bottom: 1rem;">
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                </ul>
                <p>meow</p>
            </div>
            <div class="section-image">
                <img src="" alt="Get Involved">
            </div>
        </div>
    </a>
</section>

<section class="section-common" id="blogs">
    <a href="/blog">
        <div class="container-right-left">
            <div class="section-content">
                <h2>Blogs</h2>
                <p>meow</p>
                <ul style="color: #FF7800; list-style-position: inside; margin-bottom: 1rem;">
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                </ul>
            </div>
            <div class="section-image">
                <img src="" alt="Blogs">
            </div>
        </div>
    </a>
</section>

<section class="section-common" id="team">
    <a href="bonding">
        <div class="container-left-right">
            <div class="section-content">
                <h2>Team Bonding</h2>
                <p>meow</p>
                <ul style="color: #FF7800; list-style-position: inside; margin-bottom: 1rem;">
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                    <li>meow</li>
                </ul>
            </div>
            <div class="section-image">
                <img src="" alt="Team Bonding">
            </div>
        </div>
    </a>
</section>

<section class="section-common" id="contact">
    <a href="/contact">
        <div class="container-right-left">
            <div class="section-content">
                <h2>Contact Us</h2>
                <p>Get in touch with us:</p>
                <ul style="color: #FF7800; list-style-position: inside; margin-bottom: 1rem;">
                    <li>Email: astechgmail</li>
                    <li>Phone: +no.</li>
                    <li>Location: n003</li>
                    <li></li>
                </ul>
            </div>
            <div class="section-image">
                <img src="" alt="Contact Us">
            </div>
        </div>
    </a>
</section>